:root {
  --primary-color: #373334;
}

body {
  margin: 0 0;
  font-family: "Source Code Pro", monospace;
  background-color: #ededed;
}

h1 {
  color: white;
  font-size: 68px;
  font-weight: 200;
  margin-bottom: 0;
  text-align: center;
}
h2 {
  color: white;
  font-size: 30px;
  font-weight: 200;
  margin-bottom: 5px;
  margin-top: 0;
  text-align: center;
}

h3 {
  font-size: 20px;
  text-align: center;
  opacity: 95%;
}

footer {
  margin: 150px auto 60px auto;
}

.kp-navbar {
  font-size: 32px;
}

.navbar-nav {
  margin-left: auto;
  padding-right: 25px;
}

.nav-item {
  padding: 0 8px;
}

.nav-item a {
  font-size: 20px;
  font-weight: 100;
}

.navbar-mini {
  width: 100vw;
  background-image: url(/images/nav.13910001.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.hero {
  width: 100vw;
  height: 286px;
  background-image: url(/images/13910001.JPG);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.inner-hero {
  padding-top: 85px;
}

.content-container {
  margin-top: 80px;
}

.content-container h1 {
  color: var(--primary-color);
  margin-bottom: 25px;
}

.album-covers-section {
  margin: 50px auto;
}

.album-cover-pic {
  margin: 40px 0;
}

.btn {
  color: white;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  text-align: center;
  display: block;
  transition: all 200ms ease-in-out;
  margin: 0 auto;
  max-width: 326px;
}

.btn:hover {
  color: white;
  opacity: 0.8;
}

.album-cover-image,
.album-snapshot {
  margin: 5px auto;
  display: block;
}

.album-snapshot {
  max-width: 280px;
}

.album-description {
  font-size: 20px;
  display: inline;
}

.album-row {
  margin: 40px 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.column {
  min-width: 348px;
}

.footer-text {
  font-size: 24px;
}

.footer-text span {
  font-weight: 800;
}

.footer-text i {
  font-size: 30px;
  margin: 0 10px;
  color: var(--primary-color);
  padding: 6px 6px;
  border-radius: 50%;
}

.footer-text:hover i {
  color: white;
  background-color: var(--primary-color);
}

.snapshot-img {
  max-width: 160px;
}

.about-text {
  padding: 20px 90px;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
