body {
  margin: 0 0;
  font-family: "Source Code Pro", monospace;
  background-color: #ededed;
}

h3 {
  font-size: 20px;
  text-align: center;
  opacity: 95%;
}

.kp-navbar {
  font-size: 32px;
}

.navbar-nav {
  margin-left: auto;
  padding-right: 25px;
}

.nav-item {
  padding: 0 8px;
}

.nav-item a {
  font-size: 20px;
  font-weight: 100;
}

.hero {
  width: 100vw;
  height: 30vh;
  background-image: url(/images/13910001.JPG);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.inner-hero {
  padding-top: 85px;
}

h1 {
  color: white;
  font-size: 68px;
  font-weight: 200;
  margin-bottom: 0;
  text-align: center;
}
h2 {
  color: white;
  font-size: 30px;
  font-weight: 200;
  margin-bottom: 5px;
  margin-top: 0;
  text-align: center;
}

.album-covers-section {
  margin: 50px auto;
}

.album-cover-pic {
  margin: 40px 0;
}

.btn {
  color: white;
  background-color: #373334;
  border-color: #373334;
  text-align: center;
  display: block;
  transition: all 200ms ease-in-out;
  margin: 0 auto;
  max-width: 326px;
}

.btn:hover {
  color: white;
  opacity: 0.8;
}

.album-cover-image {
  margin: 5px auto;
  display: block;
}
